@import "variables";

h1 {
    color: $red;

    &:hover {
        color: darken($red, 13);
    }

    span {
        color: $blue;

        &:hover {
            color: darken($blue, 13);
        }
    }
}
